.DS_Store
**/__pycache__/**
**/temp*.json
*.csv
**/top_decklists/**
*_template.json
decks/**/*.txt
decks/**/*.png
*.egg-info/**
uv.lock
CLAUDE.md
*DESIGN.md
**/untracked/**
src/auto_goldfish/autocard/data/*.json
!src/auto_goldfish/autocard/data/labeled_cards.json
decks/**/*.json
.env
scripts/**/*.png
public/
